@charset "UTF-8";

.inner {
	font-family: 'NanumSquareRound';

	}
	
.date {
	font-weight: bold;
	
}

.title {
	font-size:24px;
	color : #f6546a;
	font-weight : bold;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
	
}

.addr {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

#features-wrapper {
	background-color: #f2f1f1;	
}