.container {
  max-width: 960px;
}

#title {
	padding-bottom:10px;
}

#date {
	padding-bottom:5px;
}

#addr {
	padding-bottom:5px;
}

#moreInfo {
	padding-top:20px;
}

#myListCheckBox {
	width: 40px;
	height: 40px;
}

#formMyListCheckBox {
	float: left;
	padding-right: 5px;
}