@charset "UTF-8";

#mylist-button{
	width: 100%;
				text-align: center;
				font-size: 1.35em;
				padding: 0.85em 0 !important;
}

.comment_Box{
	border: 1px solid gray;
}

#com_writer {
	width: 100px;
	border: none;
	
}