<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="today.whatdo.festival.festivalinfo.mapper.CommentMapper">
	
  	<!-- 댓글 조회-->
  	<select id="commentList" parameterType="int" resultType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
  		SELECT
			CI_NUM, FI_NUM, CI_WRITER, CI_CONTENT, CI_REGDATE
		FROM COMMENT_INFO
		WHERE FI_NUM = #{fiNum}		
  	</select>
  	
  	<!-- 댓글 작성 -->
	<insert id="commentWrite" parameterType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
  		INSERT INTO COMMENT_INFO (FI_NUM, CI_WRITER, CI_CONTENT)
		VALUES(#{fiNum}, #{ciWriter}, #{ciContent})
  	</insert>
  	
  	<!-- 댓글 수정 -->
  	<update id="commentModify" parameterType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
	UPDATE COMMENT_INFO SET
		CI_WRITER = #{ciWriter},
		CI_CONTENT = #{ciContent}
	WHERE CI_NUM = #{ciNum}
		AND FI_NUM = #{fiNum}	
	</update>
  	
  	<!-- 댓글 삭제 -->
	<delete id="commentDelete" parameterType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
		DELETE FROM COMMENT_INFO
		WHERE CI_NUM = #{ciNum}
			AND FI_NUM = #{fiNum}	
	</delete>
	


</mapper>