<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="today.whatdo.festival.festivalinfo.mapper.CommentInfoMapper">

	<sql id="commentInfoCols">
		CI.UI_NUM, CI.CI_NUM, CI.CI_CONTENT, CI.CI_ACTIVE, CI.CI_CREDATTIM
	</sql>
	
	<select id="selectCommentInfoList" resultType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentInfoVO">
		SELECT 
		<include  refid="commentInfoCols"></include>
		, FI.TITLE, UI.UI_ID
		FROM COMMENT_INFO CI
		INNER JOIN USER_INFO UI ON CI.UI_NUM = UI.UI_NUM
		<where>
			CI.CI_ACTIVE = 1
			<if test='ciContent != null and ciContent != ""'>
				AND CI_CONTENT LIKE CONCAT('%',#{ciContent},'%')
			</if>
		</where>
	</select>
	
	<select id="selectCommentInfo" resultType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentInfoVO" >
		SELECT
		<include refid="commentInfoCols"></include>
		, FI.TITLE, UI.UI_ID
		FROM COMMENT_INFO CI
		INNER JOIN USER_INFO UI ON CI.UI_NUM = UI.UI_NUM
		WHERE CI.CI_NUM = #{ciNum}
	</select>
	
	<insert id="insertCommentInfo">
		INSERT INTO COMMENT_INFO(
		CI_CONTENT, CI_ACTIVE, CI_CREDATTIM, UI_NUM, FI_NUM, UI_ID, TITLE
		)
		VALUES(
		#{ciContent},#{ciActive}, DATE_FORMAT(NOW(),'%Y%m%d%H%i%s'), #{uiNum}, #{fiNum}, #{uiId},(title)
		)
	</insert>
	
	<update id="updateCommentInfo">
		UPDATE COMMENT_INFO
		SET CI_CONTENT = #{ciContent}, 
		CI_ACTIVE = #{ciActive},
		CI_CREDATTIM = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'),
		UI_NUM = #{uiNum},
		FI_NUM = #{fiNum},
		UI_ID = #{uiId},
		TITLE = #{title}
		WHERE CI_NUM = #{ciNum}
	</update>
	
	<delete id="deleteCommentInformation">
		DELETE FROM COMMENT_INFO
		WHERE CI_NUM=#{ciNum}
	</delete>
	
</mapper>