<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="today.whatdo.festival.festivalinfo.mapper.CommentInfoMapper">

	<insert id="CommentRegist">
  		INSERT INTO COMMENT_INFO(CI_WRITER, CI_CONTENT, CI_REGDATE, FI_NUM)
		values (#{ciWriter}, #{ciContent}, #{ciRegdate}, #{fiNum})
  	</insert>
  	
  	<select id="getTotal" resultType="int">		
  		SELECT COUNT(*) FROM COMMENT_INFO WHERE FI_NUM = #{fiNum}
  	</select>
  	
  	<select id="getList" resultType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
  		SELECT * FROM COMMENT_INFO WHERE FI_NUM = #{fiNum}
  	</select>
  	
  	<select id="myRecord" resultType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
		SELECT * FROM COMMENT_INFO
		WHERE CI_WRITER = #{ciWriter}
	</select>
	
	<delete id="commentDelete">
		DELETE FROM COMMENT_INFO
		WHERE CI_NUM = #{ciNum}
	</delete>
	
	
	
</mapper>