<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="today.whatdo.festival.festivalinfo.mapper.CommentInfoMapper">

	<!-- 댓글 작성 -->
	<insert id="CommentRegist">
  		INSERT INTO COMMENT_INFO(CI_WRITER, CI_CONTENT, CI_REGDATE, FI_NUM)
		values (#{ciWriter}, #{ciContent}, #{ciRegdate}, #{fiNum})
  	</insert>
  	
  	<!-- 댓글 조회 -->
  	<select id="getList" resultType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
  		SELECT * FROM COMMENT_INFO WHERE FI_NUM = #{fiNum}
  	</select>
  	
  	<update id="CommentUpdate" parameterType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
  		UPDATE COMMENT_INFO SET
  			CI_WRITER = #{ciWriter},
  			CI_CONTENT = #{ciContent}
  		WHERE CI_NUM = #{ciNum}
  			and FI_NUM = #{fiNum}
  	</update>
	
	<delete id="CommentDelete" parameterType="today.whatdo.festival.festivalinfo.vo.commentInfo.CommentVO">
		DELETE FROM COMMENT_INFO
			WHERE CI_NUM = #{ciNum}
				and FI_NUM = #{fiNum}
	</delete>
	
	
	
</mapper>