<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="today.whatdo.festival.userinfo.mapper.UserInfoMapper">
	<sql id="userInfoCols">
		UI_NUM, UI_ID, UI_NAME, UI_NICKNAME, UI_PWD, UI_CREDAT
	</sql>
	<select id="selectUserInfoList"	resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
	</select>
	<!-- 카카오 로그인 -->
	<select id="selectUserInfoByUiId" resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_ID=#{uiId}
		<where>
			UI_ID = null
		</where>
	</select>
	<select id="selectUserInfoByNickName" resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_NICKNAME = #{uiNickname}
	</select>
	<select id="selectUserInfo"	resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_NUM=#{uiNum}
	</select>
	<select id="selectUserInfoByIdAndPwd" resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_ID = #{uiId}
		AND UI_PWD = #{uiPwd}
	</select>
	<insert id="insertUserInfo">
		INSERT INTO USER_INFO(
		UI_ID,
		UI_NAME, UI_NICKNAME, 
		UI_PWD, UI_CREDAT
		)
		VALUES(
		#{uiId},
		#{uiName},#{uiNickname},
		#{uiPwd},DATE_FORMAT(NOW(),'%Y%m%d')
		)
	</insert>
	<update id="updateUserInfo">
		UPDATE USER_INFO
		SET UI_NAME=#{uiName},
		UI_NICKNAME=#{uiNickname},
		UI_PWD=#{uiPwd}
		WHERE UI_NUM=#{uiNum}
	</update>
	<!-- 회원 탈퇴시 ID, 생성일자를 제외한 개인 정보 삭제 후 계정 비활성화 -->
	<delete id="updateUserInfoActive">
		UPDATE USER_INFO
		SET UI_NAME='0',
		UI_NICKNAME='0',
		UI_PWD='0'
		WHERE UI_NUM=#{uiNum}
	</delete>
</mapper>