<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="today.whatdo.festival.userinfo.mapper.UserInfoMapper">
	<sql id="userInfoCols">
		UI_NUM, UI_ID, UI_NAME, UI_NICKNAME, UI_PWD, UI_ACTIVE, UI_PHONE, UI_CREDAT
	</sql>
	<select id="selectUserInfoList"	resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT * FROM USER_INFO
		<where>
			<if test='uiName != null and uiName !=""'>
				AND UI_NAME LIKE CONCAT('%',#{uiName},'%')
			</if>
			<if test='uiId != null and uiId !=""'>
				AND UI_ID LIKE CONCAT('%',#{uiId},'%')
			</if>
		</where>
	</select>
	<select id="selectUserInfo"	resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_NUM = #{uiNum}
	</select>
	<select id="selectUserInfoById"
		resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_ID = #{uiId}
	</select>
	<select id="selectUserInfoByIdAndPwd"
		resultType="today.whatdo.festival.userinfo.vo.UserInfoVO">
		SELECT
		<include refid="userInfoCols"></include>
		FROM USER_INFO
		WHERE UI_ID = #{uiId}
		AND UI_PWD = #{uiPwd}
	</select>

	<insert id="insertUserInfo">
		INSERT INTO USER_INFO(
		UI_ID, UI_NAME, UI_NICKNAME, UI_PWD, UI_ACTIVE, UI_PHONE, UI_CREDAT
		)
		VALUES(#{uiId},#{uiName},#{uiNickname},#{uiPwd},#{uiCredat},
		#{uiActive}, #{uiPhone} )
	</insert>
	<update id="updateUserInfo">
		UPDATE USER_INFO
		SET UI_NAME=#{uiName},
		UI_NICKNAME=#{uiNickname},
		UI_PHONE=#{uiPhone}
		WHERE UI_NUM=#{uiNum}
	</update>
	<delete id="deleteUserInfo">
		DELETE FROM USER_INFO
		WHERE UI_NUM=#{uiNum}
	</delete>

</mapper>